/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

/* base */
@layer base {
  ::selection{
    background: #FFEBD3;
    color: #000;
  }

  body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: "Manrope", sans-serif;
  }

  button{
    cursor: pointer;
  }
}

/* utilities */
@utility bg_grndt{
    /* background: linear-gradient(90deg, hsla(334, 100%, 40%, 1) 0%, hsla(28, 93%, 61%, 1) 81%, hsla(34, 100%, 62%, 1) 100%); */

    /* background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%); */

    /* background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%); */

    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

@utility card_hvr{
  @apply hover:bg-gradient-to-b hover:from-zinc-300 hover:to-zinc-300/10;
}
